<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" href="..public/styles/styles.css">
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(customer => { %>
                <tr>
                    <td><%= customer.id %></td>
                    <td><%= customer.name %></td>
                    <td><%= customer.email %></td>
                    <td><%= customer.phone %></td>
                    <td>
                        <a href="/customer/<%= customer.id %>">Ver</a>
                        <a href="/customer/<%= customer.id %>/edit">Editar</a>
                        <a href="/customer/<%= customer.id %>/delete">Excluir</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/customer/create">Criar Novo Cliente</a>
</body>
</html>
